/* general background page sets */
body{
	background-image: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
	background-repeat: no-repeat;
    background-attachment: fixed;
}


/* NAVIGATION BAR */
/* nav bar header "Emma Nelson" top left*/
header .nav{
	background:white;
	position: fixed;
	display:inline-block;
	width:100%;
	z-index: 100;
}

/*nav bar formating, sticky nav */
.nav h1{
	font-family: "Montserrat", sans-serif;
	font-size: 1.750em; /* 28px */
	font-weight: bold;
	padding:15px 25px;
}

.nav ul{
	margin-right: 20px;
	float: right;
	margin-top: -35px;
}

.nav li{
	display: inline-block;
	position: relative;
	float:right;

}

.nav li a {
	list-style-type: none;
    text-decoration: none;
    color: black;
    font-size: 1.125em;  /* 18px */
    font-family: "Raleway", sans-serif;
    margin: 10px;
}

.nav li a:hover {
    @include transition(background, 0.1s);
    color:#4bd6aa;
    cursor: pointer;
}

.nav li a.active {
  color:#4bd6aa;
}



/* MAIN BODY */
/* heading - all page universal, title of the page */
.heading{
	background:white;
	color:black;
	font-family: "Montserrat", sans-serif;
	float:left;
	padding:18px;
	font-size: 1.500em; /* 24px */
	margin-top:80px;
}

/*  body page setup index.html */
.bodyph{
	position: relative;
	padding:2.5%;
	top:180px;
	margin-left: 7.5%;
}

/* main image on index.html */
#img{
	position: relative;
	float: left;
	width:35%;
	margin-left: -7.5%;
}

/* main body text on index.html */
.bodytxt span{
	font-family: "Shrikhand", cursive;
	color:white;
	font-size: 2.500em; /* 40px */
	padding-bottom: 10px;
}

.bodytxt{
	font-size: 1.563em; /* 25px */
	width:55%;
	font-family: "Raleway", sans-serif;
	float: left;
	color: white;
	margin-left: 5%;

}



/* CONTACT FORM VIA CONTACT.HTML */
/* general form setup */
.contactform{
	position: relative;
	top:180px;
    width:70%;
    margin-left: 15%;
    margin-right: 15%;
}

form{
    padding:4%;
    
}

input {
    width: 90%;
    margin-right: 4.5%;
    margin-left: 4.5%;
    height:13px;
    background:white;
    font-family: "Raleway", sans-serif;
    border:1px solid #dedede;
    padding:10px;
    margin-bottom:7px;
    font-size: 0.9em;
    color:#3a3a3a;
    border-radius:3px;
}

textarea {
    width: 90%;
    margin-right: 4.5%;
    margin-left: 4.5%;
    height:175px;
    background:white;
    font-family: "Raleway", sans-serif;
    border:1px solid #dedede;
    padding:10px;
    margin-bottom:7px;
    font-size: 0.9em;
    color:#3a3a3a;
    border-radius:3px;
}

#submit {

    width: 82%;
    height: 38px;
    border: none;
    cursor: pointer;
    text-align: center;
    margin-left: 10%;
    margin-right: 5px;
    background-color:#4bd6aa;
    color:white;
    font-weight: bold;
}

#submit:hover {
    opacity:.8;
}



/* "UNDER CONSTRUCTION" PORTFOLIO.html */
.construction{
	text-align: center;
	position: relative;
	float: left;
	top: 100px;
	color:white;
	width:95%;
	margin-left: 2.5%;
	margin-right:2.5%;

}

/*  "website is" */
#website{
	font-family: "Raleway", sans-serif;
	font-size: 1.250em; /* 20px */
}

/*  "under construction" */
#under{
	font-family: "Shrikhand", cursive;
	font-size: 3.750em; /* 60px */

}

/*  "more comming soon" */
#coming{
	font-family: "Playball", cursive;
	font-size: 2.000em; /* 32px */

}


/* "CONNECT WITH ME" FOOTER, PAGE UNIVERSAL*/
.connect{
	padding:10px;
	position: absolute;
	bottom:-200px;
	background-color: rgba(255, 255, 255, 0.50);
	width: 100%;
}

.connect h2{
	position: relative;
	float: left;
	font-family: "Raleway", sans-serif;
	font-size: 1.125em; /* 18px */
	margin:22px 0 0 20px;

}

.connect ul li{
	margin-right: 35px;
}

.connect ul li a img{
	position: relative;
	float:right;
	padding: 8px;
	margin-top: 5px;
}

.connect ul li a img:hover{
	@include transition(background, 0.2s);
    cursor: pointer;
	background-color: white;
}




/* MEDIA QUERIES TABLETS AND MOBILE DEVICES */







/* MEDIA QUIERIES TABLETS */
/* tablets and ipad devices only */
@media only screen and (max-width: 1124px) {
    
	 /* MAIN BODY */
	 /* body page setup index.html */
	.bodyph{
		margin-left: 1%;
	}

	/* main image on index.html */
	#img{
		width:50%;
		min-width: 275px;
		margin-left: -12%;
		margin-bottom: 4%;
	}

	/* main body text on index.html */
	.bodytxt span{
		font-size: 2.500em; /* 40px */
	}

	.bodytxt{
		font-size: 1.500em; /* 24px */
		color: white;
		width:90%;

	}

	/* CONTACT FORM VIA CONTACT.HTML */
	/* general form setup */
	.contactform{
		top:65px;
	    width:80%;
	    margin-left: 10%;
	    margin-right: 10%;
	}

	/* "UNDER CONSTRUCTION" PORTFOLIO.html */

	#website{
		font-size: 1.250em; /* 20px */
	}

	#under{
		font-size: 3.000em; /* 48px */
	}

	#coming{
		font-size: 1.750em; /* 28px */
		margin-left: 5%;
	}


	/* "CONNECT WITH ME" FOOTER, PAGE UNIVERSAL*/
	.connect{
		bottom:-400px;
	}
}




/* MEDIA QUIERIES PHONES */
/* for mobile devices only */
@media only screen and (min-width: 320px) and (max-width: 736px)
  and (orientation: portrait){

	/* MAIN BODY */
	/* heading - all page universal, title of the page */
	.heading{
		padding:18px;
		font-size: 1.250em; /* 20px */
		margin-top:70px;
	}

	/*  body page setup index.html */
	.bodyph{
		top:150px;
		margin-left: 2.5%;
	}

	/* main image on index.html */
	#img{
		margin-left: -7.5%;
	}

	/* main body text on index.html */
	.bodytxt span{
		font-size: 2.000em; /* 32px */
	}

	.bodytxt{
		font-size: 1.250em; /* 20px */
	}


	/* CONTACT FORM VIA CONTACT.HTML */
	/* general form setup */
	.contactform{
		top:50px;
	    width:90%;
	    margin-left: 5%;
	    margin-right: 5%;
	}


	/* "UNDER CONSTRUCTION" PORTFOLIO.html */
	.construction{
		top: 100px;
		float: left;
		margin-left: 2%;
	}

	#website{
		font-size: 1.125em; /* 18px */
	}

	#under{
		font-size: 2.500em; /* 40px */

	}

	#coming{
		font-size: 1.500em; /* 24px */

	}


	/* "CONNECT WITH ME" FOOTER, PAGE UNIVERSAL*/
	.connect{
		padding:10px;
		position: absolute;
		bottom:-250px;
	}

	.connect h2{
		display: none;

	}

	.connect ul{
		margin-left: 25%;
	}

	.connect ul li{
		margin-right: 5px;
		float: left;
	}


}






